#include <windows.h>

IDI_ICON1		ICON		DISCARDABLE	"harbour-wordquiz.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILEFLAGSMASK 0x3fL

FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080904B0"
BEGIN
VALUE "CompanyName", "Soft Ax"
VALUE "FileDescription", "WordQuiz"
VALUE "FileVersion", "1.2"
VALUE "LegalCopyright", "Soft Ax"
VALUE "OriginalFilename", "glosquiz.exe"
VALUE "ProductName", "WordQuiz"
VALUE "ProductVersion", "1.2"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x809, 1200
END
END
